请假信息
===

#### 简要描述  
 - 高仿请假页面
 
#### 请求url
 - `/api/v1/leave/verification`
 
#### 请求方式
 - GET
 
#### 参数
| 参数名 | 必选 | 类型 | 说明 |  
| --- | --- | --- | --- |  
| cookie | 是 | string | 翻转校园cookie   |
#### 返回示例
```
{
  
}
```

#### 返回参数说明
|参数名  |类型 |说明|  
| ---  | --- | ---|  
| code | int | 状态码 |
| desc | string | 描述 |  
| data | objection | 内容 |
#### 备注

